
.errorMsg{color: #cc0000;margin-bottom: 10px}

#titulo, #monto, #fecha, #tipoIngreso, #observaciones, #comprobante, #archivo, #tipoGasto{
	color:  #cacfd2;
}

#txtObservaciones{
	resize: none;
	width: 50%;
		
}

#comprobante {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  #comprobante:hover {opacity: 0.7;}
  
a .editar{
	padding: 50px;
	/*margin: 2px;*/
}

a .eliminar{
	margin-right: 20px;
	padding: 50px;
}

.volver{
	margin-bottom: 35px;
	display: block;
}

hr{
	color: #abb2b9;
}